
@font-face {
    font-family: 'bigcity_grotesque_promedium';
    src: url('../fonts/bigcity_grotesque_pro-medium-desktop_0-webfont.eot');
    src: url('../fonts/bigcity_grotesque_pro-medium-desktop_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bigcity_grotesque_pro-medium-desktop_0-webfont.woff') format('woff'),
         url('../fonts/bigcity_grotesque_pro-medium-desktop_0-webfont.ttf') format('truetype'),
         url('../fonts/bigcity_grotesque_pro-medium-desktop_0-webfont.svg#bigcity_grotesque_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bigcity_grotesque_proregular';
    src: url('../fonts/bigcity_grotesque_pro-regular-desktop_0-webfont.eot');
    src: url('../fonts/bigcity_grotesque_pro-regular-desktop_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bigcity_grotesque_pro-regular-desktop_0-webfont.woff') format('woff'),
         url('../fonts/bigcity_grotesque_pro-regular-desktop_0-webfont.ttf') format('truetype'),
         url('../fonts/bigcity_grotesque_pro-regular-desktop_0-webfont.svg#bigcity_grotesque_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.neft {
  position: absolute;
  display: block;
  float: left;
  width: 1280px;
  height: 745px;
  top: 100px;
  left: 50%;
  margin-left: -640px;
  /*background: url('../images/background_gray.png') no-repeat left top #fff;*/
  /* border: #333 solid 1px; */
}

.neft__svg {
  width: 1280px;
  height: 745px;  
}

.neft__note {
  position: absolute;
  padding: 20px 30px 20px 30px;
  width: 230px;
  /*margin-left: -20px;*/
}

.neft__note_active {
  background: #e20613;
  filter: alpha(Opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  box-shadow: 0 25px 55px -10px #e20613;
}

.neft__note_active .neft__ul {
  display: block;
}

.neft__note_active .neft__caption {  
  color: #fff;
}

.neft__caption {  
  font-family: 'bigcity_grotesque_promedium';
  font-size: 16px;
  color: #e20613;
  /*font-weight: bold;*/
}

.neft__ul {
  margin-top: 5px;
  display: none;
}

.neft__ul .neft__link {
  font-family: 'bigcity_grotesque_proregular';
  /*font-family: 'Calibri';*/
  font-size: 14px;
  color: #fff;
  padding: 5px 15px 5px 15px;
  margin-left: -15px;
  background: url('../images/neft_ul_dot.png') no-repeat 0 9px;
}

.neft__ul .neft__link:hover {
  background: url('../images/neft_ul_dot.png') no-repeat 0 9px;
  text-decoration: underline;
}  


.neft__note.stanki {
  left: 180px;
  top: 220px;
}

.neft__note.service_remont {
  left: 320px;
  top: 50px;
}

.neft__note.agregatu {
  left: 670px;
  top: -30px;
}

.neft__note.manifold {
  left: 580px;
  top: 250px;
}

.neft__note.nasos {
  left: 810px;
  top: 140px;
}

.neft__note.kachalka {
  left: 160px;
  top: 540px;
}

.neft__note.kluch {
  left: 490px;
  top: 510px;
}

.neft__note.pult {
  left: 730px;
  top: 500px;
}

.neft__note.zapchasti {
  left: 940px;
  top: 360px;
}

